.w{
    display:flex;
    height:48px;
    align-items:center;
    padding:4px;
    padding-left:400px;
    flex:auto;
    justify-content: flex-end;    
}
form{
    display: block;
    width:fit-content;
}
.input{
    display:block;
    /* height:48px; */
    /* align-items:center; */
    padding:4px;
    margin-left: 90px;
    float:right;
    padding-left:100px;
    padding-right: 100px;
    /* flex:auto; */
    /* justify-content: flex-end;     */
}
#btn{
    background-color: blue;
    color: white;
    float: right;
    min-width: 167px;
    min-height: 41px;
    padding: 10px;
}

