h1{
    text-align: center;
}
a{
    color:black;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }
.input {
    display: flex;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: auto;
    width: 400px;
    font-size:large;
}
.btn{
    display:inline-flexbox;
    width: 200px;
    height: 40px;
    border:none;
    
}
#go{
    margin-left:450px;
}
.w{
    display:flex;
    height:48px;
    align-items:center;
    padding:4px;
    padding-left:400px;
    flex:auto;
    justify-content: flex-end;    
}  
.img{
    padding-right: 20px;
}
